:root{
    --primary-color:blueviolet;
    --secondary-color:lightsalmon;
    --white:#fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 25px;
    font-size: 25px;
    background-color:var(--primary-color);
    color: var(--white);
}
main{
    margin: 25px;
    
}
.total-container{
    width: 500px;
    padding: 25px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: var(--white);
}